@tailwind base;
@tailwind components;
@tailwind utilities;

.worksans {
  font-family: 'Work Sans', sans-serif;
}

.bg-theme {
  background-color: #a6cd3991;
}

.bg-footer {
  background-color: #37d6aa;
}

.color-black {
  color: #000000;
}

.outline-none {
  outline: none;
}

@media (min-width: 640px) {
  .sm\:vh-75 {
    height: 75vh;
  }
}
@media (min-width: 768px) {
  .md\:vh-75 {
    height: 75vh;
  }
}
@media (min-width: 1024px) {
  .lg\:vh-75 {
    height: 75vh;
  }
}
@media (min-width: 1280px) {
  .xl\:vh-75 {
    height: 75vh;
  }
}
